@media screen and (max-width: 450px) {
  #footerRight {
    display: none !important;
  }
  #containerAlbumPlay {
    display: none !important;
  }
}

@media screen and (max-width: 655px) {
  #attivitaAmici {
    display: none !important;
  }
  #rightSideBar {
    display: none !important;
  }
}
@media screen and (max-width: 990px) {
  #containerLinkFooter {
    text-align: center !important;
  }
}
@media screen and (max-width: 1100px) {
  #attivitaAmici {
    width: 180px;
  }
  #rightSideBar {
    width: 180px;
  }
}
