.hero-container {
  h2 {
    font-size: 4em;
  }
  p {
    font-size: 0.8em;
  }
  small {
    font-size: 0.8em;
  }
  .playbutton {
    background-color: #1db954;
    &:hover {
      background-color: #05ff5c;
    }
  }
  .annuncedbutton {
    font-size: 0.7em;
    background-color: rgb(56, 56, 56);
    &:hover {
      background-color: rgb(129, 129, 129);
    }
  }
}
#searchInput {
  border: 1px solid rgba(184, 184, 184, 0.243);
  border-radius: 30px;
}
#searchInput::placeholder {
  color: rgb(184, 184, 184);
  font-size: 0.9em;
}
#searchInput:focus {
  border: 1px solid rgb(236, 236, 236);
}
.cursor-pointer {
  cursor: pointer;
}
