.hero-container {
  h2 {
    font-size: 4em;
  }
  p {
    font-size: 0.8em;
  }
  small {
    font-size: 0.8em;
  }
  .playbutton {
    background-color: #1db954;
    &:hover {
      background-color: #05ff5c;
    }
  }
  .annuncedbutton {
    font-size: 0.7em;
    background-color: rgb(56, 56, 56);
    &:hover {
      background-color: rgb(129, 129, 129);
    }
  }
}
#searchInput {
  border: 1px solid rgba(184, 184, 184, 0.243);
  border-radius: 30px;
}
#searchInput::placeholder {
  color: rgb(184, 184, 184);
  font-size: 0.9em;
}
#searchInput:focus {
  border: 1px solid rgb(236, 236, 236);
}
.cursor-pointer {
  cursor: pointer;
}
#containerAlbumPlay {
  max-width: 250px;
}
#volume {
  border-radius: 10px;
  -webkit-appearance: none;
}

:root {
  --percentuale: 0;
}

#volume {
  border-radius: 10px;
  -webkit-appearance: none;
}
#volume::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    green 0%,
    green var(--percentuale),
    #fff var(--percentuale),
    #fff 100%
  );
}

#volume::-moz-range-track {
  background: linear-gradient(
    to right,
    green 0%,
    green var(--percentuale),
    #fff var(--percentuale),
    #fff 100%
  );
}
#timeProgressBar {
  margin-top: 10px;
  height: 3px;
  background-color: #ddd;
  border-radius: 5px;
  transition: width 0.1s ease-in-out, background-color 0.1s ease-in-out; /* Aggiungi transizioni per effetto di animazione */
}
#tempoDinamicoBrano p {
  font-size: 0.7em;
  color: #929292;
  margin-top: 2px;
}
